.reg{
    background: url("http://pic1.win4000.com/wallpaper/2018-05-23/5b052ce90fa30.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    .card{
        width:500px;
        background: rgba(255,255,255,0.7);
        height:auto;
    }
}
